<div class="swatch">
  <div class="swatch-color" style="background:{{ color }}" title="{{ name }}"></div>
  <div class="swatch-name">{{ name }}</div>
  {% if desc %}<div class="swatch-desc">{{ desc }}</div>{% endif %}
</div>